$address-slogan: #111111;

.address {
  position: relative;
}

.address--catalog-bg {
  background-color: $programs-bg;
}

.address__container {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
  }
}

.address__wrapper {
  display: flex;

  @media (min-width: $desktop-width) {
    background-color: $main-light;
  }
}

.address__slogan {
  margin: 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  color: $address-slogan;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__text {
  line-height: 20px;
  color: $text-dark;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
