.advantages__title {
  @include title-basic;

  line-height: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list-reset;
}

.advantages__description {
  margin: 0;
  color: $text-dark;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
