$counter-color: #f2f2f2;

.advantages__container {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 92px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.advantages__title {
  @include title-basic;

  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list-reset;
  counter-reset: enumerator 0;

  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 250px);
    gap: 37px 134px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 73px;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  min-height: 60px;
  counter-increment: enumerator 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $button-basic;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 280px;

    &::after {
      content: counter(enumerator);
      position: absolute;
      top: 0;
      right: 0;
      font-family: $second-font;
      font-size: 280px;
      line-height: 280px;
      color: $counter-color;
      z-index: -1;
    }
  }
}

.advantages__item--leaf::before {
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-size: 30px 32px;
}

.advantages__item--water::before {
  background-image: url("../../icons/stack.svg#water-icon");
  background-size: 27px 29px;
}

.advantages__item--eat::before {
  background-image: url("../../icons/stack.svg#eat-icon");
  background-size: 25px 30px;
}

.advantages__item--clock::before {
  background-image: url("../../icons/stack.svg#clock-icon");
  background-size: 27px 31px;
}

.advantages__description {
  margin: 0;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
