.example__title {
  @include title-basic;

  line-height: 40px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  line-height: 18px;
  color: $text-dark;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__parameter {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__benefits {
  font-size: 12px;
  line-height: 12px;
  color: $text-dark;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__price-text {
  margin: 0;
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.example__price {
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
