$button-color: #666666;

.example {
  background-color: $example-bg;
}

.example__container {
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 75px;
    display: grid;
    grid-template-columns: 436px 560px;
    gap: 224px;
  }
}

.example__list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 366px;
  }
}

.example__list {
  min-width: 280px;
}

.example__title {
  @include title-basic;

  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  margin: 0;
  line-height: 18px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__parameter {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__benefits {
  font-size: 12px;
  line-height: 12px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__price-text {
  margin: 0;
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__price {
  font-family: $second-font;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.example__button {
  @include button-reset;

  color: $button-color;

  &:hover {
    color: $button-basic;
  }

  &:active {
    color: rgba($button-status, 0.6);
  }
}

.example__button-svg {
  @media (min-width: $tablet-width) {
    height: 512px;
  }
}
