$link-svg-color: #666666;

.footer {
  background-color: $programs-bg;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__logo-link {
  @include link-basic;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright-link {
  display: block;
  max-width: 280px;
  font-size: 16px;
  line-height: 20px;
  color: $link-svg-color;
  text-decoration: none;

  &:hover {
    color: $button-basic;
  }

  &:focus-visible {
    color: $button-basic;
  }

  &:active {
    color: rgba($button-basic, 0.3);
  }
}

.footer__copyright-text {
  color: $text-dark;
}

.footer__copyright-link:active .footer__copyright-text {
  color: rgba($text-dark, 0.3);
}
