.hero {
  @media (max-width: 767px) {
    background-color: $button-basic;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: 0;
      left: calc(50% - 0px);
      width: 720px;
      height: 694px;
      background-image: url("../../images/index-background-desktop@1x.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.hero__container {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.hero__box {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 29px 80px 59px;
  }
}

.hero__title {
  @include title-basic;

  text-align: center;
  color: $main-light;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    color: $main-dark;
  }
}

.hero__text {
  margin: 0;
  padding: 0;
  font-family: $second-font;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $main-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    text-transform: uppercase;
    color: $main-dark;
  }
}

.hero__link {
  @include link-basic;

  color: $main-light;
}
