.nav {
  position: relative;
  background-color: $main-light;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.nav__logo-link {
  margin-bottom: 15px;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 202px;
  }
}

.nav__logo-img {
  display: block;
}

.nav__logo-text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.nav__toggle {
  @include button-reset;

  position: absolute;
  top: 10px;
  right: 0;
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__toggle {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#burger-open");
}

.nav--closed .nav__item {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav--opened .nav__wrapper {
  position: absolute;
  left: -20px;
  width: 320px;
  z-index: 5;
  background-color: $main-light;
}

.nav--nojs .nav__toggle {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav--nojs .nav__wrapper {
  @media (max-width: $mobile-width) {
    position: static;
    width: 100%;
  }
}

.nav--nojs .nav__item {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.nav--opened .nav__toggle {
  @media (max-width: $mobile-width) {
    width: 18px;
    height: 18px;
    background-image: url("../../icons/stack.svg#burger-close");
  }
}

.nav .nav__wrapper {
  @media (min-width: $tablet-width) {
    position: static;
    align-self: flex-end;
  }
}

.nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 15px 33px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    gap: 15px 35px;
    justify-content: flex-end;
  }
}

.nav__item {
  @media (max-width: $mobile-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      top: 0;
      left: 0;
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $tablet-width) {
    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $button-basic;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--active-index {
      position: relative;

      &::after {
        background-color: $main-light;
      }
    }
  }
}

.nav__link {
  @include link-basic;

  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__link--index {
  @media (min-width: $desktop-width) {
    color: $main-light;
  }
}
