$product-title: #222222;

.product__list {
  @include list-reset;

  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.product__link {
  @include link-basic;
}

.product__title {
  @include title-basic;

  font-size: 16px;
  line-height: 20px;
  color: $product-title;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__features-text {
  font-size: 12px;
  line-height: 16px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__features-number {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product__button {
  padding: 10px 109px;
  color: $main-light;

  @media (min-width: $tablet-width) {
    padding: 10px 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 54px;
    min-width: 169px;
  }
}

.product__wrapper--last {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../icons/stack.svg#plus-icon");

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }
}

.product__button--all {
  padding: 10px 94px;
  color: $text-dark;
  background-color: $programs-bg;

  &:hover {
    color: $text-dark;
    background-color: $example-bg;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 39px;
  }
}

.product__title--color {
  color: #111111;
}

.product__subtitle {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: $text-dark;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
