.programs__container {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__list {
  @include list-reset;

  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 80px;
  }
}

.programs__item {
  position: relative;
  min-height: 50px;
  background-color: $programs-bg;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: $button-basic;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      right: 62px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      left: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -8px;
    width: 68px;
    height: 53px;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 276px;
      height: 211px;
      left: auto;
      right: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 106px;
      left: -17px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    min-height: 100px;
  }
}

.programs__item--slim::after {
  background-image: url("../../icons/stack.svg#cat-slim-mobile");
  background-size: 36px 50px;
  background-position: center top;

  @media (min-width: $tablet-width) {
    top: -12px;
    right: 25px;
    background-size: 140px 194px;
  }

  @media (min-width: $desktop-width) {
    background-size: 70px 97px;
  }
}

.programs__item--pro::after {
  background-image: url("../../icons/stack.svg#cat-pro-mobile");
  background-size: 67px 28px;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-size: 268px 112px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 56px;
    background-position: center;
  }
}

.programs__title {
  @include title-basic;
  margin-left: 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__description {
  margin: 0;
  padding: 0;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $main-dark;
  }
}

.programs__link {
  @include link-basic;
  position: relative;

  max-width: 168px;
  min-height: 24px;
  display: inline-grid;
  place-items: center start;

  padding: 4px 57px 4px 0;
  font-size: 16px;
  line-height: 16px;

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 12px;
    right: 17px;
    background-image: url("../../icons/stack.svg#arrow-right");
    transition: all 0.5s ease-in-out;
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &::after {
      right: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 4px 60px 4px 0;

    &::after {
      right: 3px;
    }
  }
}

.programs__link:hover::after {
  width: 32px;
  background-image: url("../../icons/stack.svg#arrow-right-32");
}
