$subtitle-color: #222222;

.sub-product__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.sub-product__title {
  @include title-basic;

  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.sub-product__list {
  @include list-reset;
}

.sub-product__subtitle {
  margin: 0;
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $subtitle-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.sub-product__text,
.sub-product__price {
  line-height: 14px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sub-product__button {
  padding: 10px 109px;
  color: $main-light;

  @media (min-width: $tablet-width) {
    padding: 10px 285px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 91px;
  }
}

.sub-product__promo-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $main-light;
  background-color: $button-basic;
}

.sub-product__promo-box {
  height: 80px;
  background-color: $button-basic;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift-icon");

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }
  }
}
