$subtitle-color: #222222;

.sub-product {
  overflow-x: hidden;
}

.sub-product__container {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.sub-product__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.sub-product__title {
  @include title-basic;

  margin-bottom: 26px;
  width: fit-content;
  font-size: 24px;
  line-height: 24px;
  position: relative;
  background-color: $main-light;
  box-shadow: -40px 0 0 0 $main-light, 40px 0 0 0 $main-light;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: $button-basic;

    @media (min-width: $tablet-width) {
      top: 16px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 12px;
    left: 50%;
    z-index: -1;
    background-color: $button-basic;

    @media (min-width: $tablet-width) {
      top: 16px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.sub-product__list {
  @include list-reset;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 895px;
    border: none;
  }
}

.sub-product__item {
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 17px;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.sub-product__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-family: $second-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $subtitle-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.sub-product__box {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 49px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: auto;
    margin-right: 40px;
    width: 285px;
  }
}

.sub-product__text,
.sub-product__price {
  line-height: 14px;
  color: $text-dark;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sub-product__button {
  padding: 10px;
  width: 100%;
  color: $main-light;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.sub-product__promo-box {
  padding: 59px 61px 43px 58px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba($button-basic, 0.85), rgba($button-basic, 0.85)), image-set(url("../../images/catalog-background-mobile@1x.jpg") 1x, url("../../images/catalog-background-mobile@2x.jpg") 2x);
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift-icon");

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 57px 125px 60px 77px;
    justify-content: flex-start;
    background-image: linear-gradient(rgba($button-basic, 0.85), rgba($button-basic, 0.85)), image-set(url("../../images/catalog-background-tablet@1x.jpg") 1x, url("../../images/catalog-background-tablet@2x.jpg") 2x);
  }

  @media (min-width: $desktop-width) {
    padding: 56px 42px 43px;
    height: fit-content;
    justify-content: center;
    background-image: linear-gradient(rgba($button-basic, 0.85), rgba($button-basic, 0.85)), image-set(url("../../images/catalog-background-desktop@1x.jpg") 1x, url("../../images/catalog-background-desktop@2x.jpg") 2x);
  }
}

.sub-product__promo-text {
  margin: 0;
  margin-top: 128px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: $main-light;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: auto;
    width: 161px;
    text-align: left;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 129px;
    text-align: center;
    align-self: flex-start;
  }
}
