$border-input: #cdcdcd;

.subscribe {
  overflow-x: hidden;
}

.subscribe__container {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}

.subscribe__title {
  @include title-basic;

  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
  width: fit-content;
  background-color: $main-light;
  box-shadow: -40px 0 0 0 $main-light, 40px 0 0 0 $main-light;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: $button-basic;

    @media (min-width: $tablet-width) {
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 16px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 9px;
    left: 50%;
    z-index: -1;
    background-color: $button-basic;

    @media (min-width: $tablet-width) {
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 16px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }
}

.subscribe__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 752px;
  }
}

.subscribe__description {
  margin: 0;
  margin-bottom: 24px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
  }
}

.subscribe__form {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.subscribe__input {
  margin-bottom: 16px;
  padding: 13px;
  padding-top: 17px;
  width: 100%;
  font-size: 20px;
  border: 1px solid $border-input;

  &::placeholder {
    font-family: $second-font;
    font-size: 20px;
    text-transform: uppercase;
    color: $text-dark;
  }

  &:hover {
    border: 1px solid $text-dark;
  }

  &:not(:placeholder-shown):not(:focus-visible):invalid {
    border: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.subscribe__button {
  @include button-reset;

  padding: 15px;
  width: 100%;
  font-family: $second-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $main-light;
  background-color: $button-basic;

  &:hover {
    background-color: $button-status;
  }

  &:active {
    color: rgb($main-light, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
